<!DOCTYPE html>
<html lang="en">
<head>
  
    {{>headerlink}}
</head>
<body>
    
  {{>navbar}}
    <!-- Main Body -->
    <div class="container-fluid main_header">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="row">
              <!-- Left Panel -->
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="./images/profile1.png" alt="shafiq" class="img-fluid" title="Shafiq Khan">
                    </figure>
                </div>

            <!-- Right panel -->
                <div class="col-md-6 col-12 main_header_left">
                  <p>Welcome to weather app</p>
                  <h1>I am a <span class="txt-clr">Backend Developer</span> and Problem Solver</h1>
                  <a href="#"><button>About Me</button></a>

                </div>
            </div>        
                
          </div>
      </div>
    </div>

    {{>footer}}
</body>
</html>